streamlit
scikit-learn
pandas
matplotlib
mlflow
streamlit-drawable-canvas==0.9.3
pillow
numpy 
humanize
seaborn
tensorflow
opencv-python-headless
langchain-openai
dagshub 
openml
plotly
openml
humanize

